.information {
    z-index: 3;
    position: absolute;
    width: max-content;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    font-size: 2vw;

    padding: 15px;
    background: rgb(135, 193, 212);

    border: 3px solid rgb(6, 56, 73);
    border-radius: 20px;
    img {
        width: 1.5vw;
        position: relative;
        top: 0.1vw;
        cursor: pointer;
    }
}

@media screen and (max-width: 1040px) {
    .information {
        top: 5px;

        font-size: 12px;
        border: 2px solid rgb(6, 56, 73);
        padding: 10px;
        border-radius: 10px;
        img {
            width: 12px;
            top: 1.7px;
        }
    }
}

@keyframes informationAppear {
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}

@keyframes informationDisappear {
    0% {
        opacity: 1;
        transform: translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateX(-70%);
    }
}

